body, td, th { font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #333; font-style: normal; line-height: 18px; font-weight: normal; font-variant: normal; text-transform: none; }
body { background-color: #036; background-image: url(../~/Images/background.png); background-repeat: repeat-x; margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px }
h1, h2, h3, h4, h5, h6 { font-family: Verdana, Geneva, sans-serif }
h1 { font-size: 24px; color: #666; font-style: normal; line-height: 18px; font-weight: normal; font-variant: normal; text-transform: none; font-family: Verdana, Geneva, sans-serif; padding-bottom: 10px }
h2 { font-size: 18px; color: #036; font-style: normal; line-height: 18px; font-weight: normal; font-variant: normal; text-transform: none; font-family: Verdana, Geneva, sans-serif; margin: 0px; }
h3 { font-size: 12px; color: #c03; font-style: normal; line-height: 18px; font-weight: normal; font-variant: normal; text-transform: none; font-family: Verdana, Geneva, sans-serif; margin: 0px; }
h4 { font-size: 12px; color: #363; font-style: normal; line-height: 18px; font-weight: bold; font-variant: normal; text-transform: none; font-family: Verdana, Geneva, sans-serif; margin: 0px }
h5 { font-size: 12px; color: #666 }
h6 { font-size: 18px; color: #036; font-style: normal; line-height: 18px; font-weight: normal; font-variant: normal; text-transform: none; font-family: Verdana, Geneva, sans-serif; margin-top: 15px }
a:link { color: #1402FF; text-decoration: none }
a:visited { color: #7306FC; text-decoration: none}
a:hover { text-decoration: none; color: #333 }
a:active { text-decoration: none; color: #333 }
hr { background-color: #ccc; width: 90%; height: 1px; border: 0px }
.clear { clear: both }
#wrapper { width: 960px; margin-left: auto; margin-right: auto; margin-bottom: 10px }
.wrapper-top { width: 960px; height: 10px; margin: auto; margin-top: 10px; background-image: url(../~/Images/wrapper-top.gif); background-repeat: no-repeat; background-position: center top }
.wrapper-footer { width: 960px; margin: 0px; height: 10px; background-image: url(../~/Images/footer.gif); background-repeat: no-repeat; background-position: center top }
#header { background-image: url(../~/Images/header.gif); background-repeat: repeat-x; background-position: left top; width: 958px; height: 100px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; margin: 0px }
#logo { width: 550px; height: 100px; background-image: url(../~/Images/logo3.gif); background-repeat: no-repeat; background-position: left top; margin-left: 10px; float: left }
#logo a { text-indent: -9999px; display: block; width: 380px; height: 100px }
#stampsearch { width: 380px; height: 100px; margin-right: 10px; float: right }
.stampsearch-button { width: 380px; height: 41px; margin: 0px; border: thin }
#stampsearch .stamptext { width: 320px; height: 25px; color: #bebebe; border: 1px; margin-top: 7px; margin-bottom: 5px; padding-top: 5px; padding-left: 15px; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; letter-spacing: 1.5px; background-color: transparent }
.navigation { margin-left: auto; margin-right: auto }
.menu { border: none; border: 0px; margin: 0px; padding: 0px; text-decoration: none; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; color: #343434 }
.menu ul { background-color: transparent; background-image: url(../~/Images/menu.gif); background-repeat: repeat-x; background-position: left top; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-top: 1px solid #fff; height: 28px; list-style: none; margin: 0; padding: 0 }
.menu li { float: left; padding: 0px }
.menu li a { color: #343434; display: block; font-weight: normal; line-height: 28px; margin: 0px; padding: 0px 20px; text-align: center; text-decoration: none; background-color: transparent; background-image: url(../~/Images/divider.gif); background-repeat: no-repeat; background-position: right bottom }
.menu li a:hover, .menu ul li:hover a { color: #343434; text-decoration: none; background-image: url(../~/Images/navhover.gif); background-repeat: no-repeat; background-position: center bottom }
.menu li ul { background: #fff; display: none; height: auto; padding: 0px; margin: 0px; border: 0px; position: absolute; width: 225px; z-index: 200 }
.menu li:hover ul { display: block }
.menu li li { display: block; float: none; margin: 0px; padding: 0px; width: 225px }
.menu li li img { float: right; margin: 5px }
.menu li:hover li a { background: none }
.menu li ul a { display: block; height: 28px; font-size: 12px; font-style: normal; margin: 0px; padding: 0px 10px 0px 15px; text-align: left; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: dashed; border-left-style: solid; border-top-color: #fff; border-right-color: #ccc; border-bottom-color: #ccc; border-left-color: #fff }
.menu li ul a:hover, .menu li ul li:hover a { border: 0px; color: #666; text-decoration: none; background-color: #e9e9e9; background-image: url(../~/Images/hover.gif); background-repeat: no-repeat; background-position: left center; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: dashed; border-left-style: solid; border-top-color: #fff; border-right-color: #ccc; border-bottom-color: #ccc; border-left-color: #fff }
.menu p { clear: left }
#cases-main { width: 940px; margin-left: auto; margin-right: auto; background-image: url(../~/Images/cases-main.gif); background-repeat: repeat-x; background-position: left top; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-top: 1px solid #fff; border-bottom: 1px solid #fff; padding-top: 10px; padding-left: 9px; padding-right: 9px; padding-bottom: 10px; background-color: #eee }
#cases-container { width: 940px; margin-top: 10px }
#cases-separator { /*background-image: url(../~/Images/separators.png);*/ background-repeat: no-repeat; background-position: center; width: 940px; height: 289px; padding-top: 20px; }
.casealgeria { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.casealgeria a { width: 140px; height: 82px; background-image: url(../~/Images/casealgeria.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.casealgeria a:hover { width: 140px; height: 82px; background-image: url(../~/Images/casealgeria.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.casebahrain { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.casebahrain a { width: 140px; height: 82px; background-image: url(../~/Images/casebahrain.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.casebahrain a:hover { width: 140px; height: 82px; background-image: url(../~/Images/casebahrain.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.caseegypt { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.caseegypt a { width: 140px; height: 82px; background-image: url(../~/Images/caseegypt.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.caseegypt a:hover { width: 140px; height: 82px; background-image: url(../~/Images/caseegypt.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.caseiraq { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.caseiraq a { width: 140px; height: 82px; background-image: url(../~/Images/caseiraq.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.caseiraq a:hover { width: 140px; height: 82px; background-image: url(../~/Images/caseiraq.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.casejordan { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.casejordan a { width: 140px; height: 82px; background-image: url(../~/Images/casejordan.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.casejordan a:hover { width: 140px; height: 82px; background-image: url(../~/Images/casejordan.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.caseksa { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.caseksa a { width: 140px; height: 82px; background-image: url(../~/Images/caseksa.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.caseksa a:hover { width: 140px; height: 82px; background-image: url(../~/Images/caseksa.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.casekuwait { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.casekuwait a { width: 140px; height: 82px; background-image: url(../~/Images/casekuwait.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.casekuwait a:hover { width: 140px; height: 82px; background-image: url(../~/Images/casekuwait.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.caselebanon { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.caselebanon a { width: 140px; height: 82px; background-image: url(../~/Images/caselebanon.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.caselebanon a:hover { width: 140px; height: 82px; background-image: url(../~/Images/caselebanon.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.caselibya { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.caselibya a { width: 140px; height: 82px; background-image: url(../~/Images/caselibya.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.caselibya a:hover { width: 140px; height: 82px; background-image: url(../~/Images/caselibya.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.casemoroccoo { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.casemoroccoo a { width: 140px; height: 82px; background-image: url(../~/Images/casemoroccoo.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.casemoroccoo a:hover { width: 140px; height: 82px; background-image: url(../~/Images/casemoroccoo.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.caseoman { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.caseoman a { width: 140px; height: 82px; background-image: url(../~/Images/caseoman.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.caseoman a:hover { width: 140px; height: 82px; background-image: url(../~/Images/caseoman.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.casepalastine { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.casepalastine a { width: 140px; height: 82px; background-image: url(../~/Images/casepalastine.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.casepalastine a:hover { width: 140px; height: 82px; background-image: url(../~/Images/casepalastine.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.caseqatar { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.caseqatar a { width: 140px; height: 82px; background-image: url(../~/Images/caseqatar.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.caseqatar a:hover { width: 140px; height: 82px; background-image: url(../~/Images/caseqatar.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.casesudan { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.casesudan a { width: 140px; height: 82px; background-image: url(../~/Images/casesudan.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.casesudan a:hover { width: 140px; height: 82px; background-image: url(../~/Images/casesudan.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.casesyria { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.casesyria a { width: 140px; height: 82px; background-image: url(../~/Images/casesyria.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.casesyria a:hover { width: 140px; height: 82px; background-image: url(../~/Images/casesyria.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.casetunisia { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.casetunisia a { width: 140px; height: 82px; background-image: url(../~/Images/casetunisia.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.casetunisia a:hover { width: 140px; height: 82px; background-image: url(../~/Images/casetunisia.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.caseuae { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.caseuae a { width: 140px; height: 82px; background-image: url(../~/Images/caseuae.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.caseuae a:hover { width: 140px; height: 82px; background-image: url(../~/Images/caseuae.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.caseyemen { width: 140px; height: 82px; padding-left: 5px; margin-right: 0px; margin-left: 10px; margin-bottom: 10px; float: left; position: relative }
.caseyemen a { width: 140px; height: 82px; background-image: url(../~/Images/caseyemen.gif); background-repeat: no-repeat; background-position: center top; display: block; }
.caseyemen a:hover { width: 140px; height: 82px; background-image: url(../~/Images/caseyemen.gif); background-repeat: no-repeat; background-position: center bottom; display: block; }
.case-seven { width: 278px; padding: 10px; padding-left: 0; float: left; border: 1px none #ccc; /* [disabled]background-image: url(../~/Images/cases.gif);
*/ background-repeat: repeat-x; background-position: left bottom; position: relative; }
.case-eight { width: 278px; height: 158px; padding: 10px; float: left; border: 1px solid #ccc; background-image: url(../~/Images/cases.gif); background-repeat: repeat-x; background-position: left bottom; position: relative }
.case-seven-extended { width: 443px; height: 108px; padding: 10px; float: left; border: 1px solid #ccc; background-image: url(../~/Images/cases.gif); background-repeat: repeat-x; background-position: left bottom; position: relative; margin-right: 5px }
.case-seven h5 { font-size: 9px; color: #000000; float: left; background: url(../~/Images/tick.png) left top no-repeat; min-height: 17px; padding-left: 25px; }
.case-seven img { margin-left: 4px; }
.case-eight-extended { width: 443px; height: 108px; padding: 10px; float: left; border: 1px solid #ccc; background-image: url(../~/Images/cases.gif); background-repeat: repeat-x; background-position: left bottom; position: relative; margin-left: 5px }
a.button { display: block; height: 14px; width: 59px; background-position: left top; text-decoration: none; background-image: url(../~/Images/button.png); padding-top: 0px; padding-left: 5px; font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #333; font-style: italic; float: right; position: absolute; bottom: 10px; right: 10px }
a:hover.button { display: block; height: 14px; width: 59px; background-position: left bottom; text-decoration: none; color: #333 }
a.pagebutton { display: block; height: 14px; width: 59px; background-position: left top; text-decoration: none; background-image: url(../~/Images/button.png); padding-top: 3px; padding-left: 10px; font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #333; font-style: italic }
a:hover.pagebutton { display: block; height: 14px; width: 59px; background-position: left bottom; text-decoration: none; color: #333 }
p.cases { margin-top: 5px }
#container { width: 940px; margin-left: auto; margin-right: auto; background-image: url(../~/Images/container.gif); background-repeat: repeat-x; background-position: left top; border-left: 1px solid #ccc; border-right: 1px solid #ccc; padding: 10px 9px 30px; background-color: #fff }
.left-sidebar { width: 300px; float: left; margin-right: 10px;/*display: none;*/ }
.right-container { width: 960px; float: left; margin-left: 10px }
#breadcrumb { text-align: left; font-size: 10px; color: #888; height: 25px; margin-bottom: 5px; font-size: 14px;/*float: left;*/ }
#breadcrumb a { color: #000; text-decoration: none }
#breadcrumb a:hover { color: #000; text-decoration: underline }
.container-content { width: 910px; padding: 10px; margin-top: 5px; margin-bottom: 5px; border: 1px none #ccc; font-size: 14px; /* [disabled]background-image: url(../~/Images/container-content.gif);
*/ /* [disabled]background-color: #fff;
*/ /* [disabled]background-repeat: repeat-x;
*/ /* [disabled]background-position: left bottom;
*/ }
.contain-cont { width: 600px; padding: 10px; border: 1px none #ccc; font-size: 13px; /*background-image: url(../~/Images/container-content.gif); */ background-color: #fff; /*background-repeat: repeat-x; */ /* background-position: left bottom; */
margin: 10px auto 17px; border-radius: 13px; }
.container-content p { margin-top: 5px; margin-left: 20px; margin-right: 20px;  }
.container-content img { margin-left: 10px; margin-bottom: 10px; float: right }
.container-content img.contactimage { float: none }
.block-bookmark { float: right; margin-right: 30px; margin-top: 5px }
.wide { width: 895px; float: left; margin-left: 10px }
.wideout { float: left; width: 940px; }
.rss { display: block; overflow: hidden; width: 32px; height: 32px; float: left; margin-left: 5px }
.rss a { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/rss.gif); background-repeat: no-repeat; background-position: center top }
.rss a:hover { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/rss.gif); background-repeat: no-repeat; background-position: center bottom }
.linkedin { display: block; overflow: hidden; width: 32px; height: 32px; float: left; margin-left: 5px }
.linkedin a { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/linkedin.gif); background-repeat: no-repeat; background-position: center top }
.linkedin a:hover { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/linkedin.gif); background-repeat: no-repeat; background-position: center bottom }
.stumble { display: block; overflow: hidden; width: 32px; height: 32px; float: left; margin-left: 5px }
.stumble a { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/stumble.gif); background-repeat: no-repeat; background-position: center top }
.stumble a:hover { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/stumble.gif); background-repeat: no-repeat; background-position: center bottom }
.diggit { display: block; overflow: hidden; width: 32px; height: 32px; float: left; margin-left: 5px }
.diggit a { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/dig.gif); background-repeat: no-repeat; background-position: center top }
.diggit a:hover { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/dig.gif); background-repeat: no-repeat; background-position: center bottom }
.delicious { display: block; overflow: hidden; width: 32px; height: 32px; float: left; margin-left: 5px }
.delicious a { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/delicious.gif); background-repeat: no-repeat; background-position: center top }
.delicious a:hover { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/delicious.gif); background-repeat: no-repeat; background-position: center bottom }
.facebook { display: block; overflow: hidden; width: 32px; height: 32px; float: left; margin-left: 5px }
.facebook a { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/facebook.gif); background-repeat: no-repeat; background-position: center top }
.facebook a:hover { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/facebook.gif); background-repeat: no-repeat; background-position: center bottom }
.twitter { display: block; overflow: hidden; width: 32px; height: 32px; float: left; margin-left: 5px }
.twitter a { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/twitter.gif); background-repeat: no-repeat; background-position: center top }
.twitter a:hover { width: 32px; height: 32px; display: block; text-indent: -9999px; background-image: url(../~/Images/twitter.gif); background-repeat: no-repeat; background-position: center bottom }
#contact { margin-top: 10px; padding: 10px }
.contact-image { float: left; width: 32px; height: 32px; margin-right: 5px; margin-top: 5px }
.contact-details { float: left; margin-left: 5px; margin-top: 5px; padding: 5px }
#copyright { width: 960px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #fff }
#copyright a { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #eee; text-decoration: none }
#copyright a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #eee; text-decoration: underline }
.copy-right { float: right; text-align: right }
.copy-left { float: left; text-align: left }
.case-submenu { width: 278px; padding: 10px; float: left; border: 1px solid #ccc; background-image: url(../~/Images/cases.gif); background-repeat: repeat-x; background-position: left bottom; position: relative; background-color: #FFF }
#verticalmenu { /*float: left;*/ list-style: none; margin: 0; padding: 0; width: 900px }
#verticalmenu li, #verticalmenu li.active { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px }
#verticalmenu li.active { color: #666; background-color: #e9e9e9 }
#verticalmenu li img, #verticalmenu li.active img { float: right; margin: 5px; margin-top: 7px }
#verticalmenu a { color: #666; display: block; margin: 0; padding: 8px 12px; text-decoration: none; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #ccc }
#verticalmenu a:hover { color: #666; padding-bottom: 8px; background-color: #e9e9e9; background-image: url(../~/Images/hover.gif); background-repeat: no-repeat; background-position: left center }
#verticalsubmenu { float: left; list-style: none; margin: 0; padding: 0; width: 278px }
#verticalsubmenu li, #verticalsubmenu li.active { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px }
#verticalsubmenu li.active { color: #666; background-color: #e9e9e9 }
#verticalsubmenu a { color: #666; display: block; margin: 0; padding: 8px 22px; text-decoration: none; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #ccc }
#verticalsubmenu a:hover { color: #666; padding-bottom: 8px; background-color: #e9e9e9 }
.formtitle { width: 100px; margin: 5px; float: left; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: italic; color: #333 }
.formtextarea { width: 468px; margin: 5px; margin-right: 0px; border: 1px solid #ccc; background-image: url(../~/Images/contact-textarea.gif); background-repeat: repeat-x; background-position: left top; font-family: Arial, Helvetica, sans-serif; color: #666; font-size: 14px; padding: 5px }
.formbutton { margin: 5px; margin-right: 0px; float: right }
.downloads { margin-left: auto; margin-right: auto; border: 1px solid #ccc; background-color: #f6f6f6; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 16px; color: #333 }
.downloads-left { float: left; width: 270px; margin: 5px }
.downloads-right { float: right; width: 270px; margin: 5px }
.downloads img { margin: 5px; float: left }
a.doc { display: block; height: 60px; width: 270px; background-position: left top; text-decoration: none; text-indent: -9999px; background-image: url(../~/Images/doc-button.gif); font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #333; font-style: italic; float: left; margin: 10px }
a:hover.doc { display: block; height: 60px; width: 270px; background-position: left bottom; text-decoration: none; color: #333 }
a.dci { display: block; height: 60px; width: 270px; background-position: left top; text-decoration: none; text-indent: -9999px; background-image: url(../~/Images/ci-button.gif); font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #333; font-style: italic; float: left; margin: 10px }
a:hover.dci { display: block; height: 60px; width: 270px; background-position: left bottom; text-decoration: none; color: #333 }
a.dco { display: block; height: 60px; width: 270px; background-position: left top; text-decoration: none; text-indent: -9999px; background-image: url(../~/Images/co-button.gif); font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #333; font-style: italic; float: left; margin: 10px }
a:hover.dco { display: block; height: 60px; width: 270px; background-position: left bottom; text-decoration: none; color: #333 }
a.dcor { display: block; height: 60px; width: 270px; background-position: left top; text-decoration: none; text-indent: -9999px; background-image: url(../~/Images/recog-button.gif); font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #333; font-style: italic; float: left; margin: 10px }
a:hover.dcor { display: block; height: 60px; width: 270px; background-position: left bottom; text-decoration: none; color: #333 }
a.dad { display: block; height: 60px; width: 270px; background-position: left top; text-decoration: none; text-indent: -9999px; background-image: url(../~/Images/appended-button.gif); font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #333; font-style: italic; float: left; margin: 10px }
a:hover.dad { display: block; height: 60px; width: 270px; background-position: left bottom; text-decoration: none; color: #333 }
a.pdf { display: block; height: 60px; width: 270px; background-position: left top; text-decoration: none; text-indent: -9999px; background-image: url(../~/Images/pdf-button.gif); font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #333; font-style: italic; float: right; margin: 10px }
a:hover.pdf { display: block; height: 60px; width: 270px; background-position: left bottom; text-decoration: none; color: #333 }
.footnotes { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 10px; color: #666 }
.footnotes-address { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 11px; color: #666; padding-top: 10px; clear: both }
.red-text { color: #c00 }
.blue-text { color: #00f }
.request { color: #c00; font-weight: bold; text-align: center }
a.special { color: #03f }
a.extraspecial { color: #063 }
a.chart-all { display: block; height: 100px; width: 588px; background-position: left top; text-decoration: none; text-indent: -9999px; background-image: url(../~/Images/chart-all-button.gif); font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #333; font-style: italic; float: right; margin: 10px }
a:hover.chart-all { display: block; height: 100px; width: 588px; background-position: left bottom; text-decoration: none; color: #333 }
#hor-minimalist-b { font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; font-size: 12px; background: #fff; margin: 10px; width: 579px; border-collapse: collapse; text-align: left }
#hor-minimalist-b th { font-size: 14px; font-weight: normal; color: #039; padding: 10px 8px; border-bottom: 2px solid #6678b1 }
#hor-minimalist-b th.footerend { font-size: 14px; font-weight: normal; color: #039; padding: 10px 8px; border-top: 2px solid #6678b1; border-bottom: 0px }
#hor-minimalist-b td { border-bottom: 1px solid #ccc; color: #669; padding: 6px 8px }
#hor-minimalist-b tbody tr:hover td { color: #009 }
a.chart-one { display: block; height: 100px; width: 588px; background-position: left top; text-decoration: none; text-indent: -9999px; background-image: url(../~/Images/chart-country.gif); font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #333; font-style: italic; float: right; margin: 10px }
a:hover.chart-one { display: block; height: 100px; width: 588px; background-position: left bottom; text-decoration: none; color: #333 }
#cases-main img { float: right; margin: 0 0 10px 10px; }
.container-content img { float: left; margin: 10px 10px 0 0; }
/*Table and button*/
table.green-black { background-color: #a9d06a; }
input.btn { background: none; border: none; text-decoration: none; }
input.wide { width: 875px; text-align: left; font-family: Verdana, Geneva, sans-serif; font-size: 12px; padding: 3px 5px; margin: auto }
input.green { background: #a9d06a; }
input.yellow { background: #FFFFB7; }
input.grey { background: #999999; }
.red { background: #C66; }
.violet { background: #669; }
a.stable, a.stable:link, a.stable:active, a.stable:hover { color: #333333; text-decoration: none; }
.right-container-inner { width: 920px; float: left; margin-left: 10px }
.container-content-inner { width: 898px; padding: 10px; margin-top: 5px; margin-bottom: 5px; border: 1px solid #ccc; background-image: url(../~/Images/container-content.gif); background-color: #fff; background-repeat: repeat-x; background-position: left bottom }
.container-content-inner p { margin-top: 5px }
.container-content-inner img { margin-right: 10px; margin-bottom: 10px; float: left }
.container-content-inner img.contactimage { float: none }
.block-bookmark-contact { float: right; margin-right: 10px; margin-top: 5px; width: 350px; }
.block-bookmark-inner { float: left; margin-left: 10px; margin-top: 5px }
.block-bookmark-contact p { text-align: right; }
.pagecountryflag { position: relative; float: left; margin: 10px; display: inline; }
.fixedpara { position: relative; float: left; margin: 10px; display: inline; font-size: 22px; text-transform: capitalize; width: 450px; line-height: 1.2; font-weight: bold; }
.talkpal { position: relative; float: right; margin: 10px; display: inline; }
input.widebtnstyling { width: 895px; border: none; height: 49px; margin-top: 10px; text-align: left; font-size: 13px; color: #333333; }
input.grey-both { background: url() no-repeat center center; }
input.grey-cc { background: url() no-repeat center center; }
input.grey-ci { background: url() no-repeat center center; }
input.grey-co { background: url() no-repeat center center; }
input.grey-copy { background: url() no-repeat center center; }
input.grey-dep { background: url() no-repeat center center; }
input.grey-embassy { background: url() no-repeat center center; }
input.grey-online { background: url() no-repeat center center; }
input.grey-other { background: url() no-repeat center center; }
input.grey-pdf { background: url() no-repeat center center; }
input.red-both { background: url() no-repeat center center; color: #ffffff; }
input.red-cc { background: url() no-repeat center center; color: #ffffff; }
input.red-ci { background: url() no-repeat center center; color: #ffffff; }
input.red-co { background: url() no-repeat center center; color: #ffffff; }
input.red-copy { background: url() no-repeat center center; color: #ffffff; }
input.red-dep { background: url() no-repeat center center; color: #ffffff; }
input.red-embassy { background: url() no-repeat center center; color: #ffffff; }
input.red-embassy2 { background: url() no-repeat center center; color: #ffffff; }
input.red-online { background: url() no-repeat center center; color: #ffffff; }
input.red-other { background: url() no-repeat center center; color: #ffffff; }
input.red-pdf { background: url() no-repeat center center; color: #ffffff; }
input.blue-both { background: url() no-repeat center center; color: #ffffff; }
input.blue-cc { background: url() no-repeat center center; color: #ffffff; }
input.blue-ci { background: url() no-repeat center center; color: #ffffff; }
input.blue-co { background: url() no-repeat center center; color: #ffffff; }
input.blue-copy { background: url() no-repeat center center; color: #ffffff; }
input.blue-dep { background: url() no-repeat center center; color: #ffffff; }
input.blue-embassy { background: url() no-repeat center center; color: #ffffff; }
input.blue-online { background: url() no-repeat center center; color: #ffffff; }
input.blue-other { background: url() no-repeat center center; color: #ffffff; }
input.blue-pdf { background: url() no-repeat center center; color: #ffffff; }
input.or-both { background: url() no-repeat center center; color: #ffffff; }
input.or-cc { background: url() no-repeat center center; color: #ffffff; }
input.or-ci { background: url() no-repeat center center; color: #ffffff; }
input.or-co { background: url() no-repeat center center; color: #ffffff; }
input.or-copy { background: url() no-repeat center center; color: #ffffff; }
input.or-dep { background: url() no-repeat center center; color: #ffffff; }
input.or-embassy { background: url() no-repeat center center; color: #ffffff; }
input.or-online { background: url() no-repeat center center; color: #ffffff; }
input.or-other { background: url() no-repeat center center; color: #ffffff; }
input.or-pdf { background: url() no-repeat center center; color: #ffffff; }
.corrbtn { background: url(../~/Images/corr-btn2.JPG) no-repeat center center; text-align: center; color: #ffffff; width: 200px; height: 23px; border: none; }
.corrbtn2 { background: url(../~/Images/corr-btn2.JPG) center center; text-align: center; color: #ffffff; width: 450px; height: 23px; border: none; }
.usarb-div { margin-top: 8px; line-height: 22px; float: left; }
.us-imag { float: right; margin: 0px 5px 0px; }
.us-imag img { margin: 0px 0px 0px 10px; }
.usoman-p { text-align: justify; width: 680px; float: left; }
.usarb-tab th { border-bottom: 1px solid #062040; color: #80092B; font-size: 16px; }
.usarb-th { color: #376092 !important; font-size: 16px; }
.usarb-tab { border-left: none; border-right: none; border-top: 1px solid #062040; border-bottom: 1px solid #062040; }
.usarb-tab tr:nth-child(even) { background-color: #E1D9D9; }
.us-p { margin-top: 15px !important; font-weight: bold; }
.count-ul { float: left; margin-left: 55px; width: 215px; }
.countries-div { background-color: #fff; padding: 6px; }
.usarb-div ul li, .paymail-div ul li { list-style: square outside; }
.paymail-div { margin-top: 0px; width: 770px; float: left; }
.pay-img { float: right; margin-right: 25px; position: relative; bottom: 22px; }
.paymail-div a { color: #00F; }
.paymail-div a:hover { color: #00F; text-decoration: underline; }
.cal-p { font-weight: bold; color: #376092; font-size: 20px; }
.cont-div { width: 600px !important; margin-right: 10px; margin-left: 0px !important; float: right !important; }
.sidelft-div { margin-right: 0px !important; margin-left: 10px; }
.ind-ul { font-size: 14px; }
#cases-main p { font-size: 14px; font-family: Verdana, Geneva, sans-serif; margin-top: 6px; line-height: 21px; margin-right: 7px; text-align: justify; }
#datelbl { /*font-weight: bold;*/ font-size: 18px !important; color: #036; float: left; }
.date-follow { width: 930px;/*border:1px solid red;
		  height:50px;*/ }
.txt-rght, .txt-rght li { text-align: right !important; font-size: 17px; }
.arbc-div { direction: rtl; }
.arbc-div p { font-size: 17px !important; }
.arbc-div h2, .arbc-div h1 { float: right !important; font-size: 25px; }
.usarb-ul li
{
	list-style:outside square;
	color:#900;
}
.usarb-ul li span
{
	color:#333;
}
.usarb-ulul li
{
	list-style:outside circle;
	color:#000;
}
.usarb-ulul li span
{
	color:#000;
}
.usarb-ul table
{
	background-color: #E5E2E2;
    padding: 0px 0px 15px;
	margin: 3px 0px;
	}
	.fax-img{    float: none !important;
    margin: 0px 0px 0px !important;
    position: relative;
    top: 6px;}
	.note-p{font-weight:bold;color:#000;}
    .rd-btn{width: 35px;height: 35px;position: relative;top: 12px;}
.maindata-div{display:none;}
.typdoc-p{font-size:18px;}
.notorigin-div{margin-bottom: 20px;margin-top: 20px;}
.usarb-td { color:#80092B;font-size:15px;}
    .comm-div{width: 70%;margin: auto;border-radius: 5px;margin-bottom: 30px;}
    .notorigin-div .typdoc-p{margin-left: 0px;}
    .inv-btn{padding: 5px 9px;}
    .inv-num{border: 1px solid #eee9e9;height: 25px;padding-left: 10px;}
    .embfee-p{color:#900;margin-bottom:15px;}
	
	/*SYRIA POP UP*/

#ac-wrapper {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #000;
z-index: 10011;
 opacity: .9;
}
#popup{
width: 38%;
/*height: 280px;*/
background: #FFFFFF;
border: 5px solid #000;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: #64686e 0px 0px 3px 3px;
-moz-box-shadow: #64686e 0px 0px 3px 3px;
-webkit-box-shadow: #64686e 0px 0px 3px 3px;
    position: fixed;
    top: 20%;
    left: 30%;
       padding: 15px 20px;
    z-index: 100000;
}
#popup p{font-size:17px;font-family:tahoma;line-height:25px;}
#popup h2{color:#AF0003; text-decoration: underline;font-size:25px; padding: 20px;text-align: center;}	
.submitbtn{padding: 6px 25px;background-color: #078A3A;color: #fff;font-size: 15px;margin-left:42%;}
	
	
	
	